section#update.bg-olive-drab.text-center
  .container
    h2 Link Requests
    .row.justify-content-center
      .col-lg-10
        p.lead.mb-4 Help maintain this list in the following ways 
          em (requres free GitHub account):
        
        .row.g-4
          .col-md-4
            .card.h-100.bg-dark.text-white.border-secondary
              .card-body.d-flex.flex-column
                h5.card-title Add a New Link
                p.card-text.flex-grow-1 Add a link to the OTHER category
                a(href='https://github.com/dadatuputi/aflink/issues/new?template=01_link_add.yaml').btn.btn-outline-light.mt-auto.d-flex.align-items-center.justify-content-center
                  img(width='20' src='/static/github.svg' alt='GitHub').me-2
                  | Submit Request
          
          .col-md-4
            .card.h-100.bg-dark.text-white.border-secondary
              .card-body.d-flex.flex-column
                h5.card-title Request Link Override
                p.card-text.flex-grow-1 
                  | Click the 
                  span.badge.bg-secondary 📝
                  |  icon when hovering over a link to modify its title and/or URL.
                .text-muted.small.mt-auto
                  a.text-reset.text-decoration-none(href='/overrides') View existing AF Portal link overrides
          
          .col-md-4
            .card.h-100.bg-dark.text-white.border-secondary
              .card-body.d-flex.flex-column
                h5.card-title Request Link Removal
                p.card-text.flex-grow-1 
                  | Click the 
                  span.badge.bg-secondary 🗑️
                  |  icon on links that are broken or no longer relevant.