include includes/static.pug

doctype html
html.bg-spice-brown(lang='en')
  include includes/head.pug

  //- Navigation
  +navigation
    a.nav-link(aria-current='page' href='#firefox') Firefox
    a.nav-link(aria-current='page' href='#chrome') Chrome
    a.nav-link(aria-current='page' href='#edge') Edge

  //- Page Content
  section#tutorial.bg-sage.text-center
    .container
      h2 Browser Search Tutorial
      p.lead
        | Follow these instructions to search this site directly from your browser address bar. 

  section#firefox.bg-sage
    .container
      h2.text-center Firefox
      ol.list-group.list-group-numbered
        li.list-group-item Visit https://aflink.us
        li.list-group-item Right-click on the address bar and select 'Add "aflink"'
          |
          include:base64me(class="rounded mx-auto d-block my-3") includes/img/firefox-1.png
        li.list-group-item In your address bar, type 'aflink' then tab (⇥) to engage the search engine 
          |
          include:base64me(class="rounded mx-auto d-block my-3") includes/img/firefox-2.png

  section#chrome.bg-sage
    .container
      h2.text-center Chrome
      ol.list-group.list-group-numbered
        li.list-group-item Visit https://aflink.us
        li.list-group-item Right-click on the address bar and select 'Manage search engines and Site Search'
          |
          include:base64me(class="rounded mx-auto d-block my-3") includes/img/chrome-1.png
        li.list-group-item Scroll to the bottom, under 'Inactive shortcuts' and click 'Activate' next to 'aflink'
          |
          include:base64me(class="rounded mx-auto d-block my-3") includes/img/chrome-2.png
        li.list-group-item In your address bar, type 'aflink' then tab (⇥) to engage the search engine 
          |
          include:base64me(class="rounded mx-auto d-block my-3") includes/img/chrome-3.png

  section#edge.bg-sage
    .container
      h2.text-center Edge
      ol.list-group.list-group-numbered
        li.list-group-item Visit https://aflink.us
        li.list-group-item In your address bar, type 'aflink' then tab (⇥) to engage the search engine 
          |
          include:base64me(class="rounded mx-auto d-block my-3") includes/img/edge-1.png

  include includes/foot.pug
